<div class="container">
    <form #ref="ngForm" (ngSubmit)="submitData(ref.value)">
        <div class="form-group">
            <label for="">EnterUserID</label>
            <input type="text" name="username"  class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="">Enter Password</label>
            <input type="password" name="password"  class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="">Enter DOB</label>
            <input type="date" name="date"  class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="">Enter Number</label>
            <input type="number" name="name"  class="form-control" ngModel>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>

</div>